@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  background-color: var(--bodyColor);
}

:root {
  --bodyColor: #fbfbf7;
  --primaryBodyColor: #9dc84f;
  --buttonColor: #00526e;
  --headingColor: #00526e;
  --fontColorMain: #000;
  --fontColorSub: #fff;
  --mainHead: 56px;
  --subMainHead: 48px;
  --thirtySix: 36px;
  --thirtyTwo: 32px;
  --twentyFour: 24px;
  --tweenty: 20px;
  --eighteeen: 18px;
  --peraMain: 16px;
  --peraSubMain: 14px;
}

/* navbar Style */
.navbar {
  background-color: transparent;
  padding-bottom: 10px !important;
  height: 100%;
}
.logo {
  height: 60px;
  width: 60px;
}

.navbar-nav .nav-item a {
  font-size: var(--tweenty);
  text-decoration: none;
}

.menu {
  background-color: var(--primaryBodyColor);
  position: fixed;
  height: 100vh;
  margin-top: 0px;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-1k979oh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: var(--fontColorSub) !important;
  text-decoration: none !important;
  font-weight: 400;
  font-size: var(--peraSubMain);
}

a {
  text-decoration: none !important;
}

.my-config {
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}
